<!DOCTYPE html>
<html>
	<%- include partials/_header.ejs %>
	<body>
		<div class="container">
			<div class="jumbotron text-center">
				<h1><span class="fa fa-lock"></span> Node Authentification</h1>
				<p>Login or Register with:</p>
				<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
				<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
			</div>
		</div>
	</body>
</html>

<!-- https://github.com/NQX/ExpressAuthTest -->
