html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.auth {
    height: 100%;
    background: #607d8b;
}


.auth-container {
    width: 400px;
    margin-top: 3rem;
    text-align: center;
    margin: 0rem auto 0;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    position: relative;
    padding: 6rem 4rem;
}

.nav-tabs {
    margin-bottom: 2rem;
}

.page-heading {
    margin: 2rem 0rem;
}

input {
    margin: 0.5rem 0rem;
}

label {
    margin-bottom: 0.5rem;
}

h2 {
    margin-bottom: 1rem;
}

a {
    color: #0e0e0e;
}